.background1{
    background-image: url(./../images/bg-desktop-light.jpg);
    background-size: contain;
    height: 30vh;
    min-height: 100px;
    width: 100%;
}

.background2{
    //background-color: $body-color-dark;
    height: auto;
    min-height: 60vh;
    width: 100%;
    margin: 0;
}

.background3{
    background-color: rgb(155, 157, 158);
    height: auto;
    min-height: 10vh;
    width: 100%;
    
}

.attribution {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;
    font-size: 1rem;
    height: 100%; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}